<mat-card class="column-card right">
  <mat-card-content class="content">


    <mat-tab-group [(selectedIndex)]="activeTabIndex" class="tab-group" color="primary" mat-stretch-tabs>

      <mat-tab label="Update">
        <div class="tab-content">

          <form [formGroup]="updateForm" class="update-form" (ngSubmit)="submitUpdate()">
            <p>
              <mat-form-field class="full-width">
                <input matInput formControlName="locationName" placeholder="Location Name">
              </mat-form-field>
              <mat-form-field class="full-width">
                <input matInput formControlName="latitude" placeholder="Latitude">
              </mat-form-field>
              <mat-form-field class="full-width">
                <input matInput formControlName="longitude" placeholder="Longitude">
              </mat-form-field>
              <mat-form-field class="full-width">
                <textarea matInput formControlName="description" placeholder="Description"></textarea>
              </mat-form-field>
            </p>

            <button type="submit" mat-raised-button color="primary" [disabled]="updateForm.pristine">Update</button>

            <button type="button" mat-button class="btn-revert" (click)="revert()" [disabled]="updateForm.pristine">Revert</button>

          </form>
        </div>
      </mat-tab>

      <mat-tab label="Create">
        <div class="tab-content">
          <form [formGroup]="createForm" class="create-form" (ngSubmit)="submitCreate()">
            <p>
              <mat-form-field class="full-width">
                <input matInput formControlName="locationName" placeholder="Location Name">
              </mat-form-field>
              <mat-form-field class="full-width">
                <input matInput formControlName="latitude" placeholder="Latitude">
              </mat-form-field>
              <mat-form-field class="full-width">
                <input matInput formControlName="longitude" placeholder="Longitude">
              </mat-form-field>
              <mat-form-field class="full-width">
                <textarea matInput formControlName="description" placeholder="Description"></textarea>
              </mat-form-field>
            </p>

            <button type="submit" mat-raised-button color="primary" [disabled]="createForm.pristine">Create</button>

          </form>

        </div>
      </mat-tab>


    </mat-tab-group>
  </mat-card-content>

</mat-card>