<mat-card class="column-card right">
  <mat-card-content class="content">


    <mat-tab-group [(selectedIndex)]="activeTabIndex" class="tab-group" color="primary" mat-stretch-tabs>

      <mat-tab label="Update">
        <div class="tab-content">

          <form [formGroup]="updateForm" class="update-form">

            <mat-form-field class="full-width">
              <input matInput formControlName="locationName" placeholder="Location Name">
              <mat-error *ngIf="update.locationName.invalid">{{getNameError(update.locationName)}}</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
              <textarea matInput formControlName="description" placeholder="Description"></textarea>
              <mat-error *ngIf="update.description.invalid">{{getDescriptionError(update.description)}}</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
              <input matInput id="latitude" formControlName="latitude" placeholder="Latitude">
              <mat-error *ngIf="update.latitude.invalid">{{getRangeError(update.latitude, -90, 90)}}</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
              <input matInput formControlName="longitude" placeholder="Longitude">
              <mat-error *ngIf="update.longitude.invalid">{{getRangeError(update.longitude, -180, 180)}}</mat-error>
            </mat-form-field>

            <button type="button" mat-raised-button (click)="submitUpdate()" color="primary" [disabled]="updateForm.pristine || updateForm.invalid">Update</button>

            <button type="button" mat-button class="btn-revert" (click)="revert()" [disabled]="updateForm.untouched">Revert</button>

          </form>
        </div>
      </mat-tab>

      <mat-tab label="Create">
        <div class="tab-content">
          <form [formGroup]="createForm" class="create-form">
            <p>
              <mat-form-field class="full-width">
                <input matInput formControlName="locationName" placeholder="Location Name">
                <mat-error *ngIf="create.locationName.invalid">{{getNameError(create.locationName)}}</mat-error>
              </mat-form-field>

              <mat-form-field class="full-width">
                <textarea matInput formControlName="description" placeholder="Description"></textarea>
                <mat-error *ngIf="create.description.invalid">{{getDescriptionError(create.description)}}</mat-error>

              </mat-form-field>

              <mat-form-field class="full-width">
                <input matInput formControlName="latitude" placeholder="Latitude">
                <mat-error *ngIf="create.latitude.invalid">{{getRangeError(create.latitude, -90, 90)}}</mat-error>
              </mat-form-field>

              <mat-form-field class="full-width">
                <input matInput formControlName="longitude" placeholder="Longitude">
                <mat-error *ngIf="create.longitude.invalid">{{getRangeError(create.longitude, -180, 180)}}</mat-error>
              </mat-form-field>
            </p>

            <button (click)="submitCreate()" type="button" mat-raised-button color="primary" [disabled]="createForm.pristine || createForm.invalid">Create</button>

            <button type="button" mat-button class="btn-revert" (click)="resetCreateForm()" [disabled]="createForm.untouched">Reset</button>

          </form>

        </div>
      </mat-tab>


    </mat-tab-group>
  </mat-card-content>

</mat-card>