<mat-card class="column-card left">

  <mat-card-header>

    <div fxLayout="row" fxLayoutAlign="end center" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="10px" class="column">

      <div fxFlex="45">
        <ng-container *ngIf="(places$ | async) as places">

          <mat-select [formControl]="select" class="places-select full-width" placeholder="Choose Location">
            <mat-option>
              All Locations
            </mat-option>
            <mat-option *ngFor="let place of places" [value]="place.locationName">
              {{ place.locationName }}
            </mat-option>
          </mat-select>
        </ng-container>

      </div>

      <div fxFlex="10" fxFlexAlign="center" style="text-align: center;">
        or
      </div>

      <div fxFlex="45">
        <mat-form-field style="width: 100%">
          <mat-label>Search</mat-label>
          <input [formControl]="search" matInput>
          <button mat-icon-button matSuffix>
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </div>

    </div>
  </mat-card-header>

  <mat-card-content class="content">

    <ng-container *ngIf="(places$ | async) as places; else loadingOrError">

      <button mat-icon-button (click)="onSortClick()">
        <mat-icon [ngClass]="{'upside-down': state.sortDescending}" aria-label="Icon button with a line pyramid">filter_list</mat-icon>
      </button>

      {{ places.length }} {{places.length === 1 ? 'result' : 'results'}}

      <mat-card *ngFor="let place of places" class="place-card">

        <button mat-icon-button class="more-button" aria-label="Toggle menu">
          <mat-icon>edit</mat-icon>
        </button>

        <mat-card-header>
          <mat-card-title>

            <span fxFlex="30">
              {{ place.locationName }}
              <div class="description">
                {{ place.description }}
              </div>
            </span>

          </mat-card-title>

        </mat-card-header>

        <mat-card-content class="content">
          <ul>
            <li>
              Latitude:
              <span class="label">{{ place.latitude }}</span>
            </li>
            <li>
              Longitude:
              <span class="label">{{ place.longitude }}</span>
            </li>
          </ul>

        </mat-card-content>

      </mat-card>

    </ng-container>

    <ng-template #loadingOrError>

      <ng-container *ngIf="(loadingError$ | async) as error; else loadingTemplate">
        Your search for
        <span class="solid">"{{ error }}"</span> did not match any locations.
      </ng-container>

      <ng-template #loadingTemplate>
        Loading places...
      </ng-template>

    </ng-template>

  </mat-card-content>

</mat-card>