<div class="container">

  <h1 class="mat-h1">Dashboard</h1>

  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="20px" class="coloredcontainer box">

    <div fxFlex>
      <app-read [state]="state" [placesSubject]="placesSubject" [places$]="places$" [loadingError$]="loadingError$" (editRecord)="editRecord($event)"
        (toggleSortOrder)="swapOrder($event)"></app-read>
    </div>

    <div fxFlex>
      <app-create [selectedPlace$]="selectedPlace$" (updatePlace)="sendPutRequest($event)">
      </app-create>
    </div>

  </div>
</div>