$navy-blue: #001525;
$dull-blue: #203f57;
$navy-blue-faded: #0015258e;
body {
  background-color: rgb(179, 202, 209);
  margin: 30px 0 60px;
  color: $navy-blue;
  letter-spacing: 0.01em;
}

.container {
  padding: 40px 40px;
}

.navy {
  color: $navy-blue;
}

.header,
.nav-links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  a {
    margin-left: 15px;
  }
}

.container {
  h1 {
    color: $dull-blue;
  }
}

mat-card {
  &.column-card {
    color: $navy-blue;
    background-color: rgb(223, 234, 238);
    &.left {
      padding-top: 10px;
    }
    &.right {
      padding: 0;
      .mat-card-header-text {
        margin: 0;
      }
    }
  }
  mat-card-header {
    margin-bottom: 10px;
  }
}

mat-card-content.content {
  mat-select {
    margin: 15px 0;
  }
}

.place-card {
  margin-bottom: 15px;
  padding: 10px;
  ul > li {
    font-size: 12px;
    line-height: 160%;
    color: $navy-blue;
    .label {
      color: #888;
    }
  }
  .mat-card-header-text {
    width: 100%;
  }
  .description {
    font-size: 12px;
    color: #777;
    margin-top: 10px;
  }
  .more-button {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #999; // transform: scale(0.75, 0.75);
    margin: 0;
  }
  .mat-icon.mat-icon-inline {
    font-size: 16px;
  }
  .mat-icon-button {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
}

mat-tab-group {
  mat-tab-body {
    .tab-content {
      padding: 30px;
      line-height: 160%;
      .update-form {
        min-width: 150px;
        max-width: 500px;
        width: 100%;
      }
      .btn-revert {
        margin-left: 15px;
      }
      .mat-form-field {
        margin-bottom: 15px;
      }
    }
  }
}

.full-width {
  width: 100%;
}

.solid {
  font-weight: bold;
}

.upside-down {
  transform: scaleY(-1);
}

.dialog-content,
.mat-dialog-actions {
  margin-bottom: 20px;
}
